body {
  background-color: #C6EBC5;
}
img {
  height: 120px;
  width: 120px;
}
hr {
  border-style: dotted none none;
  background-color: #C6EBC5;
  border-color: grey;
  border-width: 6px;
  height: 0px;
  width: 8%;
}
h1 {
  background-color:#C6EBC5;
  color: #0F3460;
}
h2 {
  background-color:#C6EBC5;
  color: #0F3460;
}
